Makefile
!/openwrt/ucode/Makefile
CMakeCache.txt
CMakeFiles
*.cmake
install_manifest.txt
parser.[ch]
parser.out
contrib/lemon
/ucode
/utpl
/ucc
*.so*
tests/cram/*.t.err
tests/cram/.venv
examples/
/docs/*
!/docs/*.md
!/docs/CNAME
!/docs/ucode.js
!/docs/ucode.css
!/docs/.nojekyll
!/docs/tutorials/
/obj-*/
/debian/.debhelper/
/debian/tmp/
/debian/ucode/
/debian/libucode/
/debian/libucode-dev/
/debian/ucode-modules/
/debian/debhelper-build-stamp
/debian/files
/debian/*.debhelper
/debian/*.debhelper.log
/debian/*.substvars
