#!/usr/bin/make -f

ifeq (,$(filter terse,$(DEB_BUILD_OPTIONS)))
  export DH_VERBOSE := 1
endif

include /usr/share/dpkg/default.mk

SOVERSION = $(word 3,$(subst ., ,$(DEB_VERSION_UPSTREAM)))

export DEB_BUILD_MAINT_OPTIONS :=hardening=+all

%:
	dh $@

override_dh_auto_configure:
	dh_auto_configure -- \
		-D SOVERSION=$(SOVERSION) \
		-D BUILD_OPTIMIZE_SIZE=OFF \
		-D NL80211_SUPPORT=OFF \
		-D RTNL_SUPPORT=OFF \
		-D UBUS_SUPPORT=OFF \
		-D UCI_SUPPORT=OFF \
		-D ULOOP_SUPPORT=OFF
